@using FinalProject.ViewModels.HomeViewModel;
@model HomeViewModel

@{
    ViewBag.Title = "ShopList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN SECTION STARTS HERE -->
<section id="main">
    <div class="row">
        <div class="col-md-12 col-xs-12 shoplist-main-image text-center" style="background: url(../../Uploads/@Model.ShopBg.Img);background-position: center 50%;background-size: cover;">
            <h1>
                Shop
            </h1>
            <a href="index.html">
                Home
            </a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <a href="index.html">
                Additional Pages
            </a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span>
                Shop List
            </span>
        </div>
    </div>
</section>
<!-- MAIN SECTION ENDS HERE -->
<!-- SHOP LIST STARTS HERE -->
<section id="shop-list">
    <div class="container">
        <div class="row">
            <!-- SIDEBAR CATEGORIES STARTS HERE -->
            <div class="col-md-3 col-xs-12 categories">
                <div class="row">
                    <div class="col-md-12 col-sm-4">
                        <h5 class="category-name">CATEGORIES</h5>
                        <div class="filters">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Fitness Devices
                                        </span>
                                        <span>(8)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Home Gym
                                        </span>
                                        <span>(6)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Health & Beauty
                                        </span>
                                        <span>(4)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Sports & Activities
                                        </span>
                                        <span>(7)</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-4">
                        <h5 class="category-name">PRICE</h5>
                        <div class="filters">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Under $10
                                        </span>
                                        <span>(8)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            $10 - $20
                                        </span>
                                        <span>(6)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            $20 - $40
                                        </span>
                                        <span>(4)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            $40 - $60
                                        </span>
                                        <span>(7)</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-4">
                        <h5 class="category-name">BRANDS</h5>
                        <div class="filters">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            All Brands
                                        </span>
                                        <span>(8)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Nike
                                        </span>
                                        <span>(6)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            Reebok
                                        </span>
                                        <span>(4)</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="checkbox-input">
                                        <span class="filter-name">
                                            New Balance
                                        </span>
                                        <span>(7)</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SIDEBAR CATEGORIES ENDS HERE -->
            <div class="col-md-9 col-xs-12 shop-items">
                <div class="panel-top col-md-12">
                    <div class="view-panel pull-left">
                        <span class="text-view">
                            View:
                        </span>
                        <span class="icon-span span-list ">
                            <a href="shop-list.html" class="active">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="icon-span span-column">
                            <a href="shop.html">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                    <div class="sort-by pull-right">
                        <span class="text-view">
                            Sort By:
                        </span>
                        <select name="" id="">
                            <option value="1">News</option>
                            <option value="2">From A to Z</option>
                            <option value="3">From Z to A</option>
                        </select>
                    </div>
                </div>
                <!-- PRODUCTS STARTS HERE -->
                @foreach (var item in Model.products)
                {
                <div class="col-md-12 col-xs-12 product">
                    <div class="row">
                        <div class="col-md-5 col-xs-12 product-img">
                            <a href="single-product.html">
                                <img src="~/Uploads/@item.ProductImgMedium.Img" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 col-xs-12 product-content">
                            <a href="single-product.html">
                                @item.Name
                            </a>
                         @if (item.Old_price != null)
                          {
                             <span class="line">
                                $56.00
                             </span>
                          }
                            <span>$@item.Price</span>
                            <p>
                               $@item.Content
                            </p>
                            <a href="cart-page.html" class="btn btn-default">ADD TO CART</a>
                        </div>
                    </div>
                </div>

                }
                <!-- PRODUCTS ENDS HERE -->
                <nav aria-label="Page navigation" class="col-md-12 col-xs-12 text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" class="active">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <span>...</span>
                        </li>
                        <li>
                            <a href="#">12</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- SHOP LIST ENDS HERE -->
