@using FinalProject.ViewModels.HomeViewModel;
@model HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- MAIN SECTION STARTS HERE -->
    <section id="fitness-main">
        <div class="row">
            <div class="col-md-12 col-xs-12 fitness-main-image text-center">
                <h1>
                    Fitness
                </h1>
                <a href="index.html">
                    Home
                </a>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span>
                    Fitness
                </span>
            </div>
        </div>
    </section>
    <!-- MAIN SECTION ENDS HERE -->
    <!-- ISOTOP SECTION STARTS HERE -->
    <section id="isotop-posts">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-9 col-xs-12 isotop">
                    <div class="row">
                        <div class="col-md-9 col-xs-12 isotop-filters">
                            <ul>
                                <li>
                                    <a href="#" class="active" data-filter="*">
                                        ALL
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".hair">
                                        HAIR
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".makeup">
                                        MAKEUP
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".nails">
                                        NAILS
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-filter=".fashion">
                                        FASHION
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-xs-12 view">
                            <p>
                                View:
                                <span>
                                    <a href="beauty-list.html" class="active">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span>
                                    <a href="beauty.html">
                                        <i class="fa fa-th" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- GRID SECTION -->
                    <div class="row margin-top grid">
                        <div class="col-md-4 col-xs-12 with-hover margin-bottom-30 grid-item makeup">
                            <a href="single-post.html">
                                <img src="~/Uploads/fitness-1-347x241.jpg" alt="">
                            </a>
                            <div class="bottom-content">
                                <a href="#">BEAUTY</a>
                                <span>,</span>
                                <a href="#">MAKEUP</a>
                                <a href="single-post.html" class="black">Top 10 Tracks for Your Daily Workout</a>
                                <p>Some makeup techniques may seem easy to follow, but they show great results...</p>
                                <div class="icon-date">
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>MAY 6, 2017</span>
                                    </p>
                                    <p class="margin-left text-right">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>6424</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 with-hover margin-bottom-30 grid-item hair">
                            <a href="single-post.html">
                                <img src="~/Uploads/fitness-2-347x241.jpg" alt="">
                            </a>
                            <div class="bottom-content">
                                <a href="#">BEAUTY</a>
                                <span>,</span>
                                <a href="#">HAIR</a>
                                <a href="single-post.html" class="black">
                                    Pros and Cons of Cardio Training for Beginners
                                </a>
                                <p>Your most beautiful hair color will bring out the subtleties of your skin tone and...</p>
                                <div class="icon-date">
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>
                                            JANUARY 15, 2017
                                        </span>
                                    </p>
                                    <p class="margin-left text-right">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>524</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 with-hover margin-bottom-30 grid-item fashion">
                            <a href="single-post.html">
                                <img src="~/Uploads/fitness-3-347x241.jpg" alt="">
                            </a>
                            <div class="bottom-content">
                                <a href="#">BEAUTY</a>
                                <span>,</span>
                                <a href="#">FASHION</a>
                                <a href="single-post.html" class="black">Choosing Shoes for your First Training</a>
                                <p>Whether you're easing yourself into makeup or would simply like to try...</p>
                                <div class="icon-date">
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>
                                            JANUARY 20, 2017
                                        </span>
                                    </p>
                                    <p class="margin-left text-right">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>524</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12 with-hover grid-item nails">
                            <a href="single-post.html">
                                <img src="~/Uploads/home1-4-733x241.jpg" alt="">
                            </a>
                            <div class="bottom-content">
                                <a href="#" class="must-read">MUST READ</a>
                                <a href="single-post.html" class="black">Why Surfing is Beneficial for Your Health</a>
                                <p>
                                    A Leather Handbag is an accessory that will often come in handy. A quality leather handbag should last you years. Whether
                                    you choose a timeless black or brown leather handbag, or something more colourful, it
                                    should be a design that reflects your personal style. Here are a few tips for choosing...
                                </p>
                                <div class="icon-date">
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>
                                            FEBRUARY 5, 2017
                                        </span>
                                    </p>
                                    <p class="margin-left text-right">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>524</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 with-hover grid-item fashion">
                            <a href="single-post.html">
                                <img src="~/Uploads/fitness-4-347x241.jpg" alt="">
                            </a>
                            <div class="bottom-content">
                                <a href="#">BEAUTY</a>
                                <span>,</span>
                                <a href="#">FASHION</a>
                                <a href="#" class="black">Get More Athletic with This New Program</a>
                                <p>You don’t have to be a makeup genius to know that lipstick can make a big...</p>
                                <div class="icon-date">
                                    <p>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>
                                            MARCH 12, 2017
                                        </span>
                                    </p>
                                    <p class="margin-left text-right">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>524</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- VIDEO SECTION STARTS HERE -->
                    <div class="row video-section">
                        <div class="col-md-12 col-xs-12">
                            <div class="image">
                                <img src="~/Uploads/fitness-5-1119x593.jpg" alt="">
                            </div>
                            <div class="video">
                                <div class="border-100-percent col-md-offset-5 col-xs-offset-5">
                                    <a href="https://www.youtube.com/watch?v=PCZ2JHaPvZ4">
                                        <i class="fa fa-play fa-2x" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <h1 class="text-center">How to Enjoy Your Workout the Best Way</h1>
                                <p class="text-center">Let our fitness experts show you how it's done.</p>
                            </div>
                        </div>
                    </div>
                    <!-- VIDEO SECTION ENDS HERE -->
                    <div class="row button">
                        <div class="col-md-12 col-xs-12 col-md-offset-5 col-xs-offset-3">
                            <a href="#" class="button btn-lg">MORE</a>
                        </div>
                    </div>
                </div>
                <!-- SIDEBAR STARTS HERE -->
                <div class="col-md-3 col-xs-12 sidebar">
                    <div class="row bordered-sidebar">
                        <div class="col-md-12 col-xs-12">
                            <p class="free-offer">FREE OFFER</p>
                            <h4>5 Easy Ways for Women to Get Perfect Skin</h4>
                            <h5>Enter your e-mail below and get this skincare e-book free!</h5>
                            <form action="" method="POST">
                                <div class="col-md-12 col-xs-12 form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <button type="submit" class="btn-lg gray-btn">SUBSCRIBE</button>
                                </div>
                            </form>
                            <h5>100% Privacy. We will never spam you!</h5>
                        </div>
                    </div>
                    <div class="row popular-posts-p">
                        <p>POPULAR POSTS</p>
                    </div>
                    <div class="row popular-posts">
                        <div class="col-md-12 col-xs-12">
                            <a href="single-post.html">
                                <img src="~/Uploads/post-sidebar-1-90x98.jpg" alt="">
                            </a>
                            <a href="single-post.html" class="text-color">
                                Getting a Good Night’s Sleep: an Ultimate Guide for Everyone
                            </a>
                            <div class="icon-date">
                                <p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span>
                                        APRIL 10, 2017
                                    </span>
                                </p>
                                <p class="margin-left text-right">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>524</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row popular-posts">
                        <div class="col-md-12 col-xs-12">
                            <a href="single-post.html">
                                <img src="~/Uploads/post-sidebar-2-90x98.jpg" alt="">
                            </a>
                            <a href="single-post.html" class="text-color">
                                Getting a Good Night’s Sleep: an Ultimate Guide for Everyone
                            </a>
                            <div class="icon-date">
                                <p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span>
                                        APRIL 10, 2017
                                    </span>
                                </p>
                                <p class="margin-left text-right">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>524</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row popular-posts with-border-bottom">
                        <div class="col-md-12 col-xs-12">
                            <a href="single-post.html">
                                <img src="~/Uploads/post-sidebar-3-90x98.jpg" alt="">
                            </a>
                            <a href="single-post.html" class="text-color">
                                Getting a Good Night’s Sleep: an Ultimate Guide for Everyone
                            </a>
                            <div class="icon-date">
                                <p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span>
                                        APRIL 10, 2017
                                    </span>
                                </p>
                                <p class="margin-left text-right">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>524</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row banner-img">
                        <img src="~/Uploads/banner-2-381x238.jpg" alt="">
                    </div>
                    <div class="row instagram-feed">
                        <p>INSTAGRAM FEED</p>
                    </div>
                    <div class="row instagram-pics-part1">
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="https://scontent.cdninstagram.com/vp/573dc0a812923c0088d65d0939a08156/5B593EB1/t51.2885-15/s640x640/sh0.08/e35/18581146_1770433496602061_179455278498971648_n.jpg">
                                <img src="images/18581146_1770433496602061_179455278498971648_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">1</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="#">
                                <img src="~/Uploads/18645014_691147511080987_3451970425314082816_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">1</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="#">
                                <img src="~/Uploads/18579555_111589536092225_2690306444074418176_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">1</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="#">
                                <img src="~/Uploads/18580784_433190300380717_2727867294582571008_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">1</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="#">
                                <img src="~/Uploads/18580372_1834573263530458_5410462442704601088_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">1</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 min-pics">
                            <a href="#">
                                <img src="~/Uploads/18514260_210511379459486_5227500697070600192_n.jpg" alt="">
                            </a>
                            <div class="caption">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true">2</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- SIDEBAR ENDS HERE -->
            </div>
        </div>
    </section>
    <!-- ISOTOP SECTION ENDS HERE -->
    <!-- js scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/isotope.js"></script>
    <script src="scripts/scrool-top.js"></script>


