
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN SECTION STARTS HERE -->
<section id="main">
    <div class="row">
        <div class="col-md-12 col-xs-12 tables-main-image text-center" style="background: url(../../Uploads/breadcrumbs-typography.jpg);background-position: center 50%;background-size: cover;">
            <h1>
                Tables
            </h1>
            <a href=@Url.Action("Index", "Home")>
                Home
            </a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <a href=@Url.Action("Index", "Home")>
                Additional Pages
            </a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span>
                Tables
            </span>
        </div>
    </div>
</section>
<!-- MAIN SECTION ENDS HERE -->
<!-- TABLE'S HEADER STARTS HERE -->
<section id="tables-header">
    <div class="row">
        <div class="col-md-6 col-xs-12 text-center col-md-offset-3">
            <h2>Tables</h2>
            <p>
                Tables have always been perfect for displaying facts and numbers. Now you can benefit from using them on
                your website.
            </p>
        </div>
    </div>
</section>
<!-- TABLE'S HEADER ENDS HERE -->
<!-- TABLE SECTION STARTS HERE -->
<section id="tables">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>COLUMN 1</th>
                        <th>COLUMN 2</th>
                        <th>COLUMN 3</th>
                        <th>COLUMN 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="without-border">Item #1</td>
                        <td class="without-border">Description</td>
                        <td class="without-border">Subtotal</td>
                        <td class="without-border">$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #2</td>
                        <td>Description</td>
                        <td>Discount</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #3</td>
                        <td>Description</td>
                        <td>Shipping</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #4</td>
                        <td>Description</td>
                        <td>Tax</td>
                        <td>$4.00</td>
                    </tr>
                    <tr class="last-items">
                        <td>All Items</td>
                        <td>Description</td>
                        <td>Your Total</td>
                        <td>$13.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<hr>
<section id="tables">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead class="bg">
                    <tr>
                        <th>COLUMN 1</th>
                        <th>COLUMN 2</th>
                        <th>COLUMN 3</th>
                        <th>COLUMN 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="without-border">Item #1</td>
                        <td class="without-border">Description</td>
                        <td class="without-border">Subtotal</td>
                        <td class="without-border without-border-right">$3.00</td>
                    </tr>
                    <tr>
                        <td class="without-border"> Item #2</td>
                        <td>Description</td>
                        <td>Discount</td>
                        <td class="without-border-right">$3.00</td>
                    </tr>
                    <tr>
                        <td class="without-border">Item #3</td>
                        <td>Description</td>
                        <td>Shipping</td>
                        <td class="without-border-right">$3.00</td>
                    </tr>
                    <tr>
                        <td class="without-border">Item #4</td>
                        <td>Description</td>
                        <td>Tax</td>
                        <td class="without-border-right">$4.00</td>
                    </tr>
                    <tr class="last-items">
                        <td class="without-border ">All Items</td>
                        <td>Description</td>
                        <td>Your Total</td>
                        <td class="without-border-right">$13.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<hr>
<section id="tables">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>COLUMN 1</th>
                        <th>COLUMN 2</th>
                        <th>COLUMN 3</th>
                        <th>COLUMN 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item #1</td>
                        <td>Description</td>
                        <td>Subtotal</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #2</td>
                        <td>Description</td>
                        <td>Discount</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #3</td>
                        <td>Description</td>
                        <td>Shipping</td>
                        <td>$3.00</td>
                    </tr>
                    <tr>
                        <td>Item #4</td>
                        <td>Description</td>
                        <td>Tax</td>
                        <td>$4.00</td>
                    </tr>
                    <tr class="last-items">
                        <td>All Items</td>
                        <td>Description</td>
                        <td>Your Total</td>
                        <td>$13.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- TABLE SECTION ENDS HERE -->
